@if (hasData) {
  <div fxLayout="column">
    <!-- toolbar row -->
    <idl-nb-animation-controls
      [ngStyle]="{
        width: (myImage.offsetWidth || _embed.item.xsize) + 'px'
      }"
      [nFrames]="this._embed.item.data.length"
      (frameChange)="setSource($event)"
    ></idl-nb-animation-controls>
    <!-- wrap in div so styles dont get goofed up by flex -->
    <div class="embedded-image cell-item-height-max">
      <img #myImage class="cell-item-height-max" src="{{ src }}" />
    </div>
  </div>
} @else {
  <p>No images to animate!</p>
}


