<div *ngIf="hasData; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <div
    fxLayout="column"
    [ngStyle]="{
      'max-width': _embed.item.xsize + 'px'
    }"
  >
    <!-- toolbar row -->
    <div fxLayout="row" fxLayoutAlign="center center" class="renderer-toolbar">
      <!-- icons and buttons -->
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        style="padding-right: 25px"
      >
        <p style="padding-right: 10px">{{ multiplierText() }}</p>
        <mat-icon
          svgIcon="fast-rewind"
          (click)="slowDown()"
          class="icon-button"
        ></mat-icon>
        <mat-icon
          *ngIf="isPaused"
          svgIcon="play"
          (click)="pauseOrPlay()"
          class="icon-button"
        ></mat-icon>
        <mat-icon
          *ngIf="!isPaused"
          svgIcon="pause"
          (click)="pauseOrPlay()"
          class="icon-button"
        ></mat-icon>
        <mat-icon
          svgIcon="fast-forward"
          (click)="speedUp()"
          class="icon-button"
        ></mat-icon>
      </div>

      <!-- band index slider -->
      <mat-slider
        style="width: 50%; max-width: 350px"
        min="0"
        max="{{ this._embed.item.data.length - 1 }}"
        step="1"
        [displayWith]="label"
      >
        <input
          matSliderThumb
          [value]="frame"
          (dragStart)="pause()"
          (input)="onInputChange($event)"
        />
      </mat-slider>
    </div>

    <img src="{{ src }}" />
  </div>
</ng-template>

<ng-template #elseBlock>
  <p>No image to render!</p>
</ng-template>
