# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
.angular
.nx
extension/docs/.vitepress/cache
extension/docs/.vitepress/dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# test helper file that we auto-generate
parse-test/
isolate*.log
perf.txt

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
migrations.json

# System Files
.DS_Store
Thumbs.db

# vscode extension building
.vscode-test
*.vsix
*package.nls*.json
idl.extension.host.log

# files to ignore for compliance
compliance/3rdpartylicenses_condensed.md
compliance/3rdpartylicenses_encryption.csv
compliance/3rdpartylicenses.csv
compliance/compliance.json