# Add files here to ignore them from prettier formatting

/.angular
/.github
/.vscode
/.vscode-test
extension/templates/copilot-instructions.md
apps/build/docs-parser/src/htmls
/dist
/coverage
/apps/test/idl/client-e2e
routines.json
global.json
resources/language/syntaxes/src/*
resources/idl/routines
compliance
/*idl.json
*settings.json
apps/test/maker/src/test-maker/cache/cache.json
apps/test/client/src/tests/mcp/tools/envi/regression-tests/tool-descriptions
apps/test/client/src/tests/mcp/tools/envi/regression-tests/tool-parameters
.angular

/.nx/cache
/.nx/workspace-data