.angular/**
.github/**
.idl/idl.json
.nx/**
.vscode/**
.vscode-test/**
apps/**
compliance/lib-licenses/**
compliance/3rdparty.json
compliance/3rdpartylicenses_condensed.md
compliance/3rdpartylicenses_encryption.csv
compliance/3rdpartylicenses.csv
compliance/compliance.js
compliance/compliance.json
compliance/copyrights.json
compliance/licenses.json
dist/.client-id
dist/apps/client/3rdpartylicenses.txt
dist/apps/client/assets/.gitkeep
dist/apps/client-e2e/**
dist/apps/idl-webview/3rdpartylicenses.txt
dist/apps/i18n/**
dist/apps/notebook/components/3rdpartylicenses.txt
dist/apps/package-json/**
dist/apps/parsing-worker/3rdpartylicenses.txt
dist/apps/parsing-worker/assets/.gitkeep
dist/apps/server/3rdpartylicenses.txt
dist/apps/server/main.js.LICENSE.txt
dist/apps/server/assets/.gitkeep
dist/apps/test-tokenizer/**
dist/apps/tmlang-maker/**
dist/apps/vscode-e2e-runner/**
extension/dev-docs/**
extension/docs/**
extension/language/syntaxes/src/**
extension/language/syntaxes/GENERATING_JSON_FILES.md
extension/language/syntaxes/idl-log.tmLanguage.json
extension/language/syntaxes/idl.tmLanguage.json
extension/README.md
idl/helpers/**
idl/routines/notebooks/**
idl/test/**
idl/README.md
idl/vscode/idl.json
libs/**
node_modules/**
parse-test/**
tools/**
tmp/**
.all-contributorsrc
.editorconfig
.eslintrc.json
.gitignore
.npmrc
.prettierignore
.prettierrc
.vscodeignore
angular.json
compile_speed_test.pro
decorate-angular-cli.js
isolate*.log
jest.config.ts
jest.preset.js
jest.preset.ts
migrations.json
nx.json
NX.md
package-lock.json
perf.txt
problems.json
tsconfig.base.json
webpack.base.config.js