/* You can add global styles to this file, and also import other style files */

$cell-height-limit: 500px;

.div {
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight) !important;
  font-size: var(--font-size) !important;
}

.mat-primary {
  --mdc-slider-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-focus-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-hover-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-active-track-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-inactive-track-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  /* --mdc-slider-with-tick-marks-inactive-container-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
  /* --mat-mdc-slider-ripple-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
}

// override class for more compact icon buttons without "<button>"
.icon-button {
  cursor: pointer;
  // color: var(--vscode-activityBar-foreground);
}

.renderer-toolbar {
  margin-bottom: 15px;
}

.renderer-toolbar-vertical-left {
  margin-right: 15px;
}

.renderer-toolbar-vertical-right {
  margin-left: 15px;
}

.vscode-outlined {
  outline: none;
}

.vscode-outlined-focus {
  outline-style: solid !important;
  outline-width: 1px !important;
  outline-color: var(--vscode-notebook-focusedCellBorder) !important;
}

.cell-item-height-max {
  max-height: #{$cell-height-limit} !important;
}

.cell-item-full-height {
  height: #{$cell-height-limit} !important;
}

.embedded-image {
  max-width: 100%;
  aspect-ratio: 1 !important;
}

.embedded-image-with-horizontal-toolbar {
  max-width: calc(100% - 50px);
}

.toolbar {
  color: var(--vscode-activityBar-foreground);
  background: var(--vscode-activityBar-background);
  border-radius: 10px;
  padding: 5px;
}

.map-controls {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.custom-slider {
  input[type='range'] {
    accent-color: var(--vscode-activityBar-foreground) !important;
    outline: var(--vscode-activityBar-foreground) !important;
  }

  ::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    outline-style: solid !important;
    outline-width: 1px !important;
    outline: var(--vscode-activityBar-foreground) !important;
  }

  :focus {
    outline: none !important;
  }
}
