<div style="position:relative; float:left;">
  <img src="https://i.giphy.com/media/VbnUQpnihPSIgIXuZv/giphy.gif">
  <div class="controls" style="width:100%;position:absolute;left:0;bottom: 1px;">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" >
        <mat-icon svgIcon="fast-rewind"></mat-icon>
        <mat-icon svgIcon="play"></mat-icon>
        <mat-icon svgIcon="pause"></mat-icon>
        <mat-icon svgIcon="fast-forward"></mat-icon>
      </div>
    </div>
  </div>
</div>
