<div *ngIf="hasData; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <div [ngStyle]="{ 'max-width':_embed.item.xsize + 'px', 'max-height':_embed.item.ysize + 'px' }"  style="position:relative; float:left;">
    <img src="{{src}}">
    <div class="controls" style="width:100%;position:absolute;left:0;bottom: 0px;">
      <div fxLayout="column" fxLayoutAlign="center center" style="width:100%">
        <mat-slider min="0" max="{{this._embed.item.data.length-1}}" step="1" 
          discrete style="width:90%" [displayWith]="label">
          <input matSliderThumb [value]="frame" (dragStart)="pause()" (input)="onInputChange($event)">
        </mat-slider>
        <div fxLayout="row" >
          <button mat-icon-button (click)="slowDown()">
            <mat-icon svgIcon="fast-rewind"  color="accent"></mat-icon>
          </button>
          <button mat-icon-button (click)="pauseOrPlay()" >
            <mat-icon *ngIf="isPaused" svgIcon="play"></mat-icon>
            <mat-icon *ngIf="!isPaused" svgIcon="pause"></mat-icon>
          </button>
          <button mat-icon-button (click)="speedUp()">
            <mat-icon svgIcon="fast-forward"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #elseBlock>
  <p>No image to render!</p>
</ng-template>