.div {
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight) !important;
  font-size: var(--font-size) !important;
}

.mat-primary {
  --mdc-slider-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-focus-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-hover-handle-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-active-track-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  --mdc-slider-inactive-track-color: var(
    --vscode-activityBarBadge-background
  ) !important;
  /* --mdc-slider-with-tick-marks-inactive-container-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
  /* --mat-mdc-slider-ripple-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
}
