/* You can add global styles to this file, and also import other style files */

$accent: var(--vscode-activityBarBadge-background);

.div {
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight) !important;
  font-size: var(--font-size) !important;
}

.mat-primary {
  --mdc-slider-handle-color: #{$accent} !important;
  --mdc-slider-focus-handle-color: #{$accent} !important;
  --mdc-slider-hover-handle-color: #{$accent} !important;
  --mdc-slider-active-track-color: #{$accent} !important;
  --mdc-slider-inactive-track-color: #{$accent} !important;
  /* --mdc-slider-with-tick-marks-inactive-container-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
  /* --mat-mdc-slider-ripple-color: var(
    --vscode-activityBarBadge-background
  ) !important; */
}
