/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

.div {
  font-family: var(--font-family) !important;
  font-weight: var(--font-weight) !important;
  font-size: var(--font-size) !important;
}
