<div [ngClass]="class" style="width: 100%">
  <div *ngIf="hasData; then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock [ngSwitch]="embed.type">
    <idl-nb-image-animator
      *ngSwitchCase="'idlnotebookimage_animationfrompngs'"
      [embed]="embed"
    ></idl-nb-image-animator>

    <idl-nb-image
      *ngSwitchCase="'idlnotebookimage_png'"
      [embed]="embed"
    ></idl-nb-image>

    <idl-nb-map *ngSwitchCase="'idlnotebookmap'" [embed]="embed"></idl-nb-map>

    <idl-nb-plot
      *ngSwitchCase="'idlnotebookplot'"
      [embed]="embed"
    ></idl-nb-plot>

    <div *ngSwitchDefault>
      <p>Unhandled embed type of "{{ embed.type }}"</p>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <p>No data to render!</p>
  </ng-template>
</div>
