<div [ngClass]="class" style="width: 100%" class="mat-theme">
  @if (hasData) {
    @switch (embed.type) {
      @case ('idlnotebookimage_animationfrompngs') {
        <idl-nb-image-animator [embed]="embed"></idl-nb-image-animator>
      }
      @case ('idlnotebookimage_png') {
        <idl-nb-image [embed]="embed"></idl-nb-image>
      }
      @case ('idlnotebookmap') {
        <idl-nb-map [embed]="embed"></idl-nb-map>
      }
      @case ('idlnotebookplot') {
        <idl-nb-plot [embed]="embed"></idl-nb-plot>
      }
      @default {
        <div>
          <p>Unhandled embed type of "{{ embed.type }}"</p>
        </div>
      }
    }
  } @else {
    <p>No data to render!</p>
  }
</div>
